body{
	margin: 0;
	padding:0;
	background-color: #282828;
}
.cont{
	width: 1170px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
	width: 750px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.top-border{
	height: 30px;
	background-color: #282828;
	margin:0;
	padding:0;
	box-sizing: border-box;

}
.content-tophead{
	margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ul{
	list-style: none;
	line-height: 0;
}
.content-tophead ul{
	text-align: right;
	margin: 0;
    padding: 0;
}
.content-tophead ul li {
	display: inline-block;
	font-family: 'interstate_mono_-_lgtregular';
	color: #fff;
	font-size: 12px;
	margin: 1px 11px;
}
img{

}
.content-tophead ul li a{
	color: #999;
	text-decoration: none;
}
.logo{
	width: 100px;
	float: left;
	margin-bottom: 10px;
}
.nav{
	background: #282828;
	float: left;
	width: 100%;
}
.navbar{
	float: left;
	width: 100%;
}
.navbar ul{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
	margin-top: 40px;
	line-height: 0px;
}
.navbar ul  li {
	padding: 8px 18px 5px 13px;
	display: inline-block;
	border-right: 1px solid #999;
	font-size: 18px;
}
.navbarRow ul li a{
	text-decoration: none;
	color: #999;


}
.navbarRow {
	float: right;
}
.clearfix{
	clear: both;
}
/*--banner---*/
.banner img{
	max-width: 100%;
}

.div_c{
	width: 100%;
    height: 120px;
    background-color: #282828;
}
.lbl{
	width: 88%;
    height: 76px;
    padding-left: 65px;
    padding-top: 40px;

}
.lbl h2{
	font-weight: 200;
    font-family: verdana;
    color: white;
}
.div_d{
	width: 90%;
    min-height: 480px;
    display: block;
    text-align: center;
    line-height: 4.5;
    margin: 16px auto;
}
.sub_d1 {
    width: 49%;
    float: left;
    background-color: black;
    min-height: 200px;
}
.sub_d1 p {
    color: white;
    font-family: verdana;
    font-size: 15px;
    line-height: 2;
    padding-right: 21px;
    text-align: justify;
    margin-left: 24px;
}
.sub_e1 {
    width: 49%;
    float: right;
    background-color: black;
    min-height: 200px;
}
.sub_e1 img {
    width: 100%;
}
.sub_e1 p {
    color: white;
    font-family: verdana;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 21px;
    text-align: justify;
    margin-left: 24px;
}
.sub_e1_a{
	margin-bottom: -6px;
}
.div_f {
    width: 90%;
    min-height: 600px;
    display: block;
    text-align: center;
    line-height: 4.5;
    margin: auto;
}
.sub_f1 {
    width: 49%;
    float: left;
    background-color: black;
    min-height: 200px;
}
.sub_f1 img {
    width: 100%;
}

.sub_f1 p {
    color: white;
    font-family: verdana;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 21px;
    text-align: justify;
    margin-left: 24px;
}
.footer {
    max-width: 100%;
    background-color: #000;
    padding-top: 10px;
    padding: 11px 229px 0px 168px;
    min-height: 200px;
}
.div_I {
    width: 100%;
    min-height: 60px;
}
.div_I ul {
    list-style-type: none;
}
.div_I li {
    display: inline;
}
.div_I li a {
    padding: 8px;
    text-decoration: none;
    color: white;
    text-align: :center;
    padding: 14px 16px;
}
.div_j {
    width: 100%;
    min-height: 60px;
    float: left;
}
.img_b {
    width: 10%;
    padding-left: 70px;
    float: left;
    padding-top: 21px;
}
.div_k {
    width: 79%;
    float: right;
}
.div_k ul {
    list-style-type: none;
}
.div_k li {
    font-size: 11px;
    color: #F8F8F8;
    font-family: sans-serif;
    padding: 0px 20px;
    display: inline;
}

.sub_g1{
	width: 49%;
    float: right;
    background-color: black;
    min-height: 200px;

}
.sub_g1 img {
    width: 100%;

}
.sub_g1 p{
	color: white;
    font-family: verdana;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 21px;
    text-align: justify;
    margin-left: 24px;
}
.sub_g1_a{
	margin-bottom: -20px;
}